/* v1.1.0
Lyttle Grid ~ Recommended to use with Lyttle Reset:
https://github.com/Stualyttle/LyttleTools/blob/main/CSS/reset.css
*/

html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "aside"
        "main";
}

@media (min-width: 30rem) {
    body {
        grid-template-rows: auto 1fr;
        grid-template-columns: 15rem 1fr;
        grid-template-areas:
            "header header"
            "aside main";
    }
}

body > header:first-of-type {
    grid-area: header;
}

body > main:first-of-type {
    grid-area: main;
}

body > aside:first-of-type {
    grid-area: aside;
}

@media (min-width: 30rem) {
    body > aside:first-of-type,
    body > main:first-of-type {
        overflow-y: auto;
    }
}