/************************************************/
/*   Lyttle Reset; CSS reset the right way?!!   */
/*                 Version: 2.0                 */
/************************************************/

*,
*::before,
*::after {
    box-sizing: border-box;
    content: "";
    content: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        transition-duration: .01ms !important;
        animation-duration: .01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
    }

    html:focus-within {
        scroll-behavior: auto;
    }
}

body {
    line-height: 1;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

b,
strong {
    font-weight: bolder;
}

blockquote,
q {
    quotes: none;
}

button,
[type="button"],
[type="submit"] {
    -webkit-appearance: button;
}

img,
picture {
    display: block;
    max-width: 100%;
    border-style: none;
}

input,
button,
textarea,
select,
optgroup,
::placeholder {
    font: inherit;
    overflow: visible;
    text-transform: none;
    opacity: 1;
    color: inherit;
    border: none;
    outline: none;
    background: none;
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    font: inherit;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
}