* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* word-wrap: break-word; */
}

body {
    line-height: 1;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 3.052rem
}

h2 {
    font-size: 2.441rem
}

h3 {
    font-size: 1.953rem
}

h4 {
    font-size: 1.563rem
}

h5 {
    font-size: 1.563rem
}

p {
    font-size: 1rem
}